<div class="row-fluid">
    <h1>Register</h1><br>
    <%= form_for @new do |f| %>
      <%= f.label :username, "Username" %>
      <%= f.text_field :username %><br>
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %><br>
      <%= f.submit 'Register' %>
    <% end %>
    <p>Already a member? <%= link_to "Sign in here", login_path %></p>
</div>