<h1><%= link_to @post.title, @post.url %></h1>
<p><%= link_to "Edit", edit_post_path %></p>
<br>
<p><%= @post.description %></p>
<br>
<%= render 'comments/form' %>
<br>
<% @comments.each do |c| %>
  <p>
    <%= c.content %><br>
    Posted <%= time_ago_in_words(c.created_at) %> ago
  </p>
<% end %>