<div class="row-fluid">
  <h1>Create a Category</h1>
  <hr>
    <%= form_for @category do |f| %>
      <%= f.text_field :cat_name, :placeholder => "Category Name" %><br>
      <%= f.submit "Create Category", :class => "btn btn-success" %>
    <% end %>
</div>
<div class="row-fluid">
  <h3>Browse Categories</h3>
  <div class="well">
      <h5>
      <% @categories.each do |c| %>
        <%= link_to c.cat_name, category_path(c) %> |
      <% end %>
      <%= link_to "All Categories", root_path %>
      </h5>
  </div>
</div>